@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "AeonikL";
  src: url("./fonts/Aeonik-Light.otf");
}
@font-face {
  font-family: "Aeonik";
  src: url("./fonts/Aeonik-Regular.otf");
}
@font-face {
  font-family: "AeonikM";
  src: url("./fonts/Aeonik-Medium.otf");
}
@font-face {
  font-family: "AeonikB";
  src: url("./fonts/Aeonik-Bold.otf");
}
@font-face {
  font-family: "LogoFont";
  src: url("./fonts/Koulen-Regular.ttf");
}

@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
    font-family: Aeonik, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
      sans-serif;
    @apply text-base;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  * {
    box-sizing: border-box;
  }
}
